.root {
  position: relative;
  width: 375px;
  height: 667px;
  align-items: flex-start;
  background-color: #f1f1f1;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 46px;
  background-color: #fb0;
}
._352020ArrowBack1 {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('/assets/_352020ArrowBack1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle2 {
  position: absolute;
  left: 0;
  top: 602px;
  width: 375px;
  height: 65px;
  background-color: #fff;
}
._2639919CartShopping4 {
  position: absolute;
  left: 315px;
  top: 619px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('/assets/_2639919CartShopping4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._2639919CartShopping3 {
  position: absolute;
  left: 221px;
  top: 619px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('/assets/_2639919CartShopping3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._2639919CartShopping2 {
  position: absolute;
  left: 127px;
  top: 619px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('/assets/_2639919CartShopping2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mesasComandas {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 109px;
  top: 13px;
  width: 158px;
  height: min-content;
  flex-direction: column;
}
._2639919CartShopping1 {
  position: absolute;
  left: 33px;
  top: 619px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('/assets/_2639919CartShopping1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle4 {
  position: absolute;
  left: 95px;
  top: 595px;
  width: 102px;
  height: 5px;
  background-color: #fb0;
}
.rectangle5 {
  position: absolute;
  left: 261px;
  top: 72px;
  width: 100px;
  height: 100px;
  background-color: #fd7976;
}
._1500 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 289px;
  top: 147px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._3 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 287px;
  top: 105px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.fechamento {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 268px;
  top: 81px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle52 {
  position: absolute;
  left: 15px;
  top: 72px;
  width: 100px;
  height: 100px;
  background-color: #4973ff;
}
._350 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 47px;
  top: 147px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 105px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ocupada {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 81px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle53 {
  position: absolute;
  left: 138px;
  top: 198px;
  width: 100px;
  height: 100px;
  background-color: #4973ff;
}
._15002 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 166px;
  top: 273px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._5 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 164px;
  top: 231px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ocupada2 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 160px;
  top: 207px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle54 {
  position: absolute;
  left: 15px;
  top: 450px;
  width: 100px;
  height: 100px;
  background-color: #4973ff;
}
._15003 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43px;
  top: 525px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._10 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 483px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ocupada3 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 459px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle55 {
  position: absolute;
  left: 138px;
  top: 450px;
  width: 100px;
  height: 100px;
  background-color: #fd7976;
}
._15004 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 166px;
  top: 525px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._11 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 164px;
  top: 483px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.fechamento2 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 149px;
  top: 459px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle56 {
  position: absolute;
  left: 261px;
  top: 450px;
  width: 100px;
  height: 100px;
  background-color: #4973ff;
}
._15005 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 289px;
  top: 525px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._12 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 287px;
  top: 483px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ocupada4 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 283px;
  top: 459px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle57 {
  position: absolute;
  left: 261px;
  top: 198px;
  width: 100px;
  height: 100px;
  background-color: #4973ff;
}
._15006 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 289px;
  top: 273px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._6 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 287px;
  top: 231px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ocupada5 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 283px;
  top: 207px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle58 {
  position: absolute;
  left: 138px;
  top: 72px;
  width: 100px;
  height: 100px;
  background-color: #1cb86d;
}
._2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 164px;
  top: 105px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.livre {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 173px;
  top: 81px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle59 {
  position: absolute;
  left: 15px;
  top: 198px;
  width: 100px;
  height: 100px;
  background-color: #1cb86d;
}
._4 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 231px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.livre2 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50px;
  top: 207px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle510 {
  position: absolute;
  left: 15px;
  top: 324px;
  width: 100px;
  height: 100px;
  background-color: #1cb86d;
}
._7 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 357px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.livre3 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50px;
  top: 333px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle511 {
  position: absolute;
  left: 138px;
  top: 324px;
  width: 100px;
  height: 100px;
  background-color: #1cb86d;
}
._8 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 164px;
  top: 357px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.livre4 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 173px;
  top: 333px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle512 {
  position: absolute;
  left: 261px;
  top: 324px;
  width: 100px;
  height: 100px;
  background-color: #1cb86d;
}
._9 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 287px;
  top: 357px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.livre5 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 296px;
  top: 333px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
